.Btn {
  background-color: #5863f8;
  font-size: 13px;
  max-width: 260px;
  width: 100%;
  border-style: none;
  color: #fff;
  height: 64px;
  margin-left: 60px;
}

.Btn-counter {
  background-color: #5863f8;
  font-size: 13px;
  max-width: 100px;
  width: 100%;
  border-style: none;
  color: #fff;
  height: 45px;
  margin-right: 10px;
}
